html{
  font-size: 16px;
  @apply font-mono
}
body{
  margin: 0;
}
#root{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.h1-title{
  @apply text-4xl font-bold
}
.h2-title{
  @apply text-3xl mb-8 font-bold
}
.h3-title{
  @apply text-2xl my-6 font-bold
}
.hr-line{
  @apply my-8
}

h1,h2,h3,h4,div,p,span,li{
  @apply font-mono
}
.content-txt{
  @apply leading-7
}


